In [1]:
import pandas as pd

In [2]:
Costomer_OrderForm_df = pd.read_csv("Costomer_OrderForm.csv")

In [3]:
Costomer_OrderForm_df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.graphics.factorplots import interaction_plot
import matplotlib.pyplot as plt
from scipy import stats

In [5]:
from scipy.stats import chi2_contingency
import numpy as np

In [6]:
#converting data into chi2_contingency friendly form
Cust_order_transform_df = pd.DataFrame(
    [
        [271,267,269,280],
        [29,33,31,20]
    ],
    index=["Error_free","Defective"],
    columns=["Phillippines","Indonesia","Malta","India"])
Cust_order_transform_df

            Phillippines  Indonesia  Malta  India
Error_free           271        267    269    280
Defective             29         33     31     20

In [7]:
#SciPy‚Äôs chi2_contingency() returns four values, ùúí2 value, p-value, degree of freedom and expected values.
chi2_contingency(Cust_order_transform_df)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [8]:
chi2_contingency(Cust_order_transform_df.T)

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

In [9]:
from scipy.stats import chi2
significance = 0.05
p = 1 - significance
dof = chi2_contingency(Cust_order_transform_df)[2]
critical_value = chi2.ppf(p, dof)
critical_value

7.814727903251179

In [10]:
p = chi2.cdf(critical_value, dof)
p

0.9500000000000001

In [11]:
#If the calculated Chi-square(3.85) is greater than the critical value(7.81) we reject the null hypothesis.
print("Accept Null Hypothesis H0 : Two qualitative variables are independent to each other")

Accept Null Hypothesis H0 : Two qualitative variables are independent to each other