In [1]:
import pandas as pd

In [2]:
BuyerRatio_df = pd.read_csv("BuyerRatio.csv")
BuyerRatio_df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.graphics.factorplots import interaction_plot
import matplotlib.pyplot as plt
from scipy import stats

In [12]:
from scipy.stats import chi2_contingency
import numpy as np

In [15]:
Buyer_df = pd.DataFrame(
    [
        [50,142,131,70],
        [435,1523,1356,750]
    ],
    index=["Male","Female"],
    columns=["East","West","North","South"])
Buyer_df

        East  West  North  South
Male      50   142    131     70
Female   435  1523   1356    750

In [17]:
#SciPy‚Äôs chi2_contingency() returns four values, ùúí2 value, p-value, degree of freedom and expected values.
chi2_contingency(Buyer_df)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [19]:
Buyer_df.T

       Male  Female
East     50     435
West    142    1523
North   131    1356
South    70     750

In [18]:
chi2_contingency(Buyer_df.T)

(1.5959455386610577,
 0.6603094907091882,
 3,
 array([[  42.76531299,  442.23468701],
        [ 146.81287862, 1518.18712138],
        [ 131.11756787, 1355.88243213],
        [  72.30424052,  747.69575948]]))

In [21]:
from scipy.stats import chi2
significance = 0.05
p = 1 - significance
dof = chi2_contingency(Buyer_df)[2]
critical_value = chi2.ppf(p, dof)
critical_value

7.814727903251179

In [22]:
p = chi2.cdf(critical_value, dof)
p

0.9500000000000001

In [23]:
#If the calculated Chi-square(1.59) is greater than the critical value(7.81) we reject the null hypothesis.
print("Accept Null Hypothesis H0 : Two qualitative variables are independent to each other")

Accept Null Hypothesis H0 : Two qualitative variables are independent to each other